
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    
}

header {
    background-color: yellow;
    color: black;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: thistle;
    color: red;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

.Course {
    border: 1px solid #ddd;
    background-color: white;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.Course img {
    max-width: 220px;
    float: left;
    margin-right: 30px;
    border-radius: 20px;
}

.Course h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.Course p {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 978px){
    
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    
}
    .Course{
        margin: auto;
    }
    
}
@media (max-width: 500px){

    .Course{
        width: 100%;
    }
    .footer{
        width: 100%;
    }

}